table{
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

thead{
    background-color: rgb(5, 197, 133);
    height: 40px;
    color: #fff;
}

tbody tr td{
    color: #000;
    background-color: none;
    color: rgb(5, 197, 133);
    padding: 10px;
}

.back-button{
    width: 100px;
    height: 100px;
    color: #000;
    position: fixed;
}